<div class="container-fluid p-5">
  <div class="container">
    <div class="row">
      <h2>my id - {{ mypeerid }}</h2>
    </div>
    <div class="row">
      <h4 [innerHTML]="msg"></h4>
    </div>
    <div class="row">
      <input
        type="text"
        class="input-group m-1 p-2"
        placeholder="friend's id"
        [(ngModel)]="anotherid"
      />
    </div>
    <div class="row">
      <input
        class="input-group m-1 p-2"
        type="text"
        [(ngModel)]="mymsg"
        placeholder="Message"
      />
      <button class="btn btn-warning m-1" (click)="send()">Send</button>
      <button class="btn btn-danger m-1" (click)="videoconnect()">
        Call
      </button>
    </div>
    <div class="row">
      <video #myvideo></video>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
